@mixin variables {
  --container-width: 1440px;
  --font-main: sans-serif;
  --font-headings: 'Poppins', sans-serif;

  --colour-font: rgba(0, 0, 93, 0.7);
  --colour-bg-dark: #1a1a1a;
  --colour-bg-light: #444444;
  --colour-error: #7a1219;

  --gradient-bg: linear-gradient(175deg, #dae2f8 20%, #f5e8ff 80%, #ffebdb 100%);

  --spacing-gutter: clamp(20px, 3vw + 2.5px, 30px);
  --spacing-s: 10px;
  --spacing-m: clamp(20px, 3vw + 2.5px, 30px);
  --spacing-l: clamp(40px, 6vw + 5px, 60px);
}

@mixin variablesPrint {
  --colour-bg-dark: white;
  --colour-bg-light: white;
  --colour-font: black;
}

:root {
  @include variables;

  @media print {
    @include variablesPrint;
  }

  * {
    &:before,
    &:after,
    &::placeholder {
      @include variables;
      @media print {
        @include variablesPrint;
      }
    }
  }
}
